@font-face {
    font-family:'gyre';
    font-style:normal;
    font-weight:normal;
    src:url('texgyrebonum-regular.ttf') format('truetype');
}

@font-face {
    font-family:'junction';
    font-style:normal;
    font-weight:normal;
    src:url('junction-regular.ttf') format('truetype');
}

@font-face {
    font-family:'andada';
    font-style:normal;
    font-weight:normal;
    src:url('Andada-Regular.ttf') format('truetype');
}

body {
    font-family: 'gyre' serif;
}

h1, .title {
    font-family: 'andada';
    color: #ff0000;
}

h2, title {
    font-family: 'andada';
    color: #ff0000;
}

h3 {
    font-family: 'junction';
    color: #ff0000;
}

div .note {
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
}

ol {
    display: block;
    list-style-type: decimal;
}

ol > p {
    display: inline-block;
}